<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="/Index">AspnetRunBasics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    @{
                        string homeUrl = Url.Page("Index");
                        string productUrl = Url.Page("Product");
                        string cartUrl = Url.Page("Cart");
                        string orderUrl = Url.Page("Order");
                        string contanctUrl = Url.Page("Contact");
                    }

                    <li class="nav-item">
                        <a class="nav-link @(this.Context.Request.Path == homeUrl ? "active" : null)" href="@homeUrl">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(this.Context.Request.Path == productUrl ? "active" : null)" href="@productUrl">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(this.Context.Request.Path == cartUrl ? "active" : null)" href="@cartUrl">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(this.Context.Request.Path == orderUrl ? "active" : null)" href="@orderUrl">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(this.Context.Request.Path == contanctUrl ? "active" : null)" href="@contanctUrl">Contact</a>
                    </li>
                </ul>

                <a class="btn btn-success btn-sm ml-3" asp-area="" asp-page="/Cart">
                    <i class="bi bi-cart-fill"></i> 
                    <span>Cart</span>
                    @* <span class="badge badge-light">3</span> *@
                </a>
            </div>
        </div>
    </nav>
</header>
